@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
}



h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

.landing-container {
  margin: 0 10px;
}

body,
html {
  margin: 0;
  padding: 0;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body, html, .App, #root, .auth-wrapper {
    height: 100%;
  }
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  justify-content: center;
  text-align: center;
  margin: auto;
  background: #ffffff6b;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 30px 45px 30px;
  border-radius: 15px;
  transition: all .3s;
  max-height: 600px;
}

#plant-stream {
  max-width: 520px;
  margin-top: -22px;
}

.auth-wrapper .form-control:focus {
  border-color: lightgreen;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: rgb(24, 109, 24);
}
.btn-primary {
  background-color: rgb(24, 109, 24);
  outline: none !important;
  border-style: none !important;
}

.auth-wrapper .Welcomebox {
  justify-content: center;
  text-align: center;
}

.auth-wrapper .btn-primary {
  width: 40%;
  padding: 5px;
  margin-left: 10px;
  max-width: 220px;
  margin-top: -10px;
  
}

.data-item {
  font-size: 2rem;
  margin-bottom: 35px;
  font-weight: 500;
}

.logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-color: white;
  background-color: rgba(255, 255, 255, 0.507);
  margin-bottom: 25px;
}

.login-box {
  margin: auto;
  width: 457px;
}

.plant-info {
  font-size: 1rem;
}

div.side-container {
  background-color: #eaf2e7;
  opacity: .9;
  padding: 20px;
}

.timer-header {
  font-size: 1.2rem;
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }

  .plant-info {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 767px) {

  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0;
  }

  .App,
  .auth-wrapper {
    height: 100%;
  }

  .auth-inner {
    width: 80%;
    max-height: 75%;
    padding: 40px 20px 30px;
  }

  .login-box {
    margin-top: 110px;
  }

  .logo {
    width: 123px;
    height: auto;
  }

  .title-text {
    font-size: 1.2rem;
  }

  .title-subtext {
    font-size: 0.9rem;
  }

  .btn.welcome-btn {
    width: 85%;
    margin-top: 10px;
  }

  .welcome-btn-container {
    position: relative;
    top: -20px;
  }

  .row.landing-container {
    margin-top: 90px;
  }

  .row {
    margin: 0 10px;
  }

  div.side-container {
    margin-top: 50px;
    max-height: 600px;
    padding: 20px;
  }

  .col {
    flex-basis: auto;
  }

  .sensor-data {
    display: flex;
    justify-content: space-between;
  }

  .data-item {
    font-size: 1rem;
  }

  div.stream-container {
    padding: 40px 4px 70px;
  }
}

.dropdown-menu {
  max-height: 350px;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .auth-inner {
    padding: 40px 10px 45px 10px;
  }

  .data-item {
    font-size: 1.5rem;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}